# Getting Started

## 1. Variable Declaration

In [20]:
letsLearnPython = "yes"
lets_learn_python = "again yes"

In [21]:
print(letsLearnPython)

yes

## 2. Basic Datatypes

### List

In [22]:

languages = ["python","R","Scala"]

In [23]:
languages[2]

'Scala'

## Tuple

In [24]:

languages = ("python","R","Scala")

### Dict

In [25]:
languagesKnown = {"python":True,"R":True,"Scala":False}

In [26]:
languagesKnown["python"]

True

## 3.Control Statements

## if Statement

In [27]:
a = 1
if a==1:
    print ("I know to count")
else:
    print ("Probably I dont")

I know to count

In [28]:
if "python" in languagesKnown:
    print ("I Finally Know To Use 'In' Operator")
else:
    print ("Lets Learn Now")

I Finally Know To Use 'In' Operator

## 4.Loops

In [29]:
## Print the square of numbers in list
numList = [1,2,3,4]
for num in numList:
    print ("The Squared value of " + str(num) + " is ",num*num)

The Squared value of 1 is  1
The Squared value of 2 is  4
The Squared value of 3 is  9
The Squared value of 4 is  16

## 5.Functions

In [19]:
## Sum Of Two Numbers
def sum_two_numbers(a, b):
    return a + b

sum_two_numbers(3,4)

7

## 6.Higher Level Python Functions

### List Comprehensions

In [ ]:
# Powerful mechanism to do list manipulations

# [ expression for item in list if conditional ]

# List Comprehension example : 
# Return all elements of a list that are divisible by another number

arr = range(1, 101)
print ("Initial arr: ", arr, "\n")


##### Write a code to get all numbers divisible by 7 (Normal Way)########

In [ ]:
###### Using List Comprehension try repeating the above logic #####

### Lambda Function

In [ ]:
####### Write a one line function to do the same #####

### Map Function

In [ ]:
# Map : Do operations on a list element wise
# Ex: Given a list of integers, Find The Number Divided By 2 
arr = [4, 6, 8, 10, 12]

### Reduce Function

In [ ]:

# The function reduce(func, seq) continually applies the function func() to the sequence seq. It returns a single value. 
# 
# Ex : Find the sum of an integer list:


### How to max number of a array
arr1 = [47,11,42,102,13]

### Filter Functions

In [ ]:
# Filter : offers an elegant way to filter out all the elements of a list, for which the function function returns True
fib = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### Time For Small Exercise

In [ ]:


#### Create a multiple Of 3 between 1 and 100
a = list(map("create a lambda function for multiple of 3", range(1, 100))) # Create multiples of 3
b = list(map("create a lambda function for multiple of 5", range(1, 100))) # Create multiples of 5


# Using List Comprehensions Find Common Elements Between Two List

## 7.Date Function

In [ ]:
from datetime import datetime
a = datetime(2012, 3, 1)
b = datetime(2012, 3, 2)
c = (b - a)
print (c.days)

text = '2012-09-20'
y = datetime.strptime(text, '%Y-%m-%d')
print (y.date())

### Convert The Following String To Datetime Object

In [12]:

text1 = "December 22, 2014"
### Refer the link 
# http://strftime.org/

# Data Manipulation

### Importing Libraries

In [1]:
import pandas

### Reading In CSV File

In [ ]:
#### Load The Weather Dataset ####
data = pandas.read_csv()

### Getting Number of Lines

In [ ]:
##### Print The No Of Lines Of Dataset ####

### Getting Columns Names

In [ ]:
###### Print The Columns Of Dataset #####

### Get The Feel Of The Data

In [ ]:
data.

### Summary Stats

In [ ]:
data.

### Get More Info

In [ ]:
data.info

### Fun With Brackets

In [15]:

print (type(data["Max TemperatureF"]))

In [ ]:
print (type(data[["Max TemperatureF"]]))

### Not Only Brackets

In [ ]:
data.time

### Renaming Column Names

In [ ]:
###### Rename Columns #####
data.columns = ["time", "max_temp", "mean_temp", "min_temp", "max_dew",
                "mean_dew", "min_dew", "max_humidity", "mean_humidity",
                "min_humidity", "max_pressure", "mean_pressure",
                "min_pressure", "max_visibilty", "mean_visibility",
                "min_visibility", "max_wind", "mean_wind", "min_wind",
                "precipitation", "cloud_cover", "events", "wind_dir"]

### Lets Rename Single Column

In [ ]:
data = data.rename()
data.head(2)

### Always Hit Tab For More Magic

In [ ]:
data.max_temp.

### Modifying Date From String To Date Format

In [18]:
first_date = data.date.values[0]
print(first_date,type(first_date))
from datetime import datetime
datetime.strptime(first_date, "%Y-%m-%d")

### Lets change Complete Column

In [ ]:

data.date = data.date.apply("write a lambda function to do datetime transformation")
data.date.head()

### Understanding And Modifying Index Information

In [ ]:
##### Find The Index Of The Table #####
data.index

### Query With Index

In [ ]:
data.ix[0]

### Modify Index With Date Column

In [ ]:
data.index =

### Search By Date

In [ ]:
data.ix[]

### Drop Unncessary Date Column

In [ ]:
data = data.drop("give the list of column name to drop", axis=1)
data.columns

# Analyzing Data

### Handling Missing Values

In [ ]:
import missingno as msno
%matplotlib inline
msno.matrix(data)

### Filling Missing Values With Empty String

In [20]:
data.events = data.events.fillna("")
data.events.head(10)

### Filtering of Dataframe

In [ ]:
data1 = data[data.max_temp <= 32]
print (data1.shape)
data2 = data["max_temp less than 32 and min_temp greater than equal to 20" ]
data2.shape

### Grouping Dataframe

In [ ]:
###### Group By "events" And Find The Count #####
pandas.DataFrame(data.groupby(["events"])["max_temp"].count()).reset_index()

###### Group By "events" And Find The Mean #####

###### Group By Both "events & "cloud_cover"" And Find The Mean #####

### Groupby Events And Find Mean

In [ ]:
pandas.DataFrame(data.groupby(["events"])["max_temp"].'?'()).reset_index()

### Group By Multiple Columns

In [ ]:
pandas.DataFrame(data.groupby('?')["max_temp"].mean()).reset_index()

### Creating New Columns

In [23]:
###### Creating New Columns ######
data["rain"] = data.events.apply("write a lambda function to see if 'Rain' in Value")

## Hint
a = "Rains"
"Rain" in a

True

### Find The Count Of Number of Rainy Days

In [ ]:

data.rain.

# Visualizing

In [25]:
eventsSummary = data.events.value_counts()
eventsSummary.plot(kind="bar")

### Plot Last Few Days Of The Year

In [ ]:
data.max_temp.'?'().plot()